include LICENSE
include README.md
recursive-include textoverlay *.txt *.json *.png *.jpg *.jpeg *.ttf *.otf *.pt *.pth
recursive-include fonts *.ttf *.otf
global-exclude *.pyc *.pyo __pycache__ .DS_Store
